@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
  
      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

@layer components {
    .my-btn-primary {
        @apply bg-gradient-to-r from-cyan-500 to-blue-500 p-2 rounded-lg font-bold text-white shadow-lg focus:shadow-cyan-500/60 focus:scale-105 hover:shadow-cyan-500/60 hover:scale-105 transition ease-in-out duration-300 focus:outline-none;
    }
    .my-btn-danger {
        @apply p-2 rounded-lg sticky bottom-0 w-full bg-gray-800 text-white hover:bg-gradient-to-r from-red-500 to-red-800 hover:shadow-lg hover:shadow-red-500/60 hover:scale-105 transition ease-in-out duration-300 focus:outline-none;
    }

    .swiper {
        width: 100%;
        height: 100%;
      }
      
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}